.advantages{
    max-width: 1200px;
    margin: auto;
    padding: var(--padding-primary);
    h1{
        margin: 20px 0;
        color: var(--primary-orange);
    }
    p{
        font-size: 20px;
    }
}