.advantages{
    max-width: 1200px;
    margin: auto;
    padding: var(--padding-primary);
    .advantages__header{
        margin: 40px;
        color: var(--primary-orange);
        text-align: center;
    }
    p{
        font-size: 20px;
        text-align: justify;
    }
}