footer{
    background:var(--primary-grey);
    padding: 20px;
    width: 100%;
    .container{
        max-width: var(--max-width);
        display: flex;
        font-size: 14px;
        justify-content: space-around;
        margin: auto;
        
        .item{
            width: 250px;
            h3{
                text-align: center;
                padding: 10px;
                
            }
            ul{
                color: var(--primary-text);
            }
        }
    }
}