header {
    width: 100%;
    background:var(--primary-grey);
}
.header__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 10px var(--padding-primary);
    font-weight: 500;
    color: var(--primary-text);
    .contacts {
        display: flex;
        flex-direction: row-reverse;
        ul {
            display: flex;
            gap: 50px;
        }
        li {
            list-style-image: url(../../assets/sprites/telephone.svg);
        }
    }

    .header__nav-container {
        display: flex;
        .logo-container{
            @media (max-width: 600px) {
                display: none;
            }
        }
        nav {
            flex: 3;
            ul {
                display: flex;
                justify-content: space-evenly;
                padding: 0;
                gap: 10px;
                li {
                    list-style-type: none;
                    a{
                        color: var(--primary-text);
                    }
                }
            }
        }
    }
}
