header {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    background: #6d4c41;
    padding: 10px var(--padding-primary);
    // background-image:url(../../assets/logo.webp);
    // background-image:url(../../assets/sprites/telephone.svg);
    // background-size: 50px 80px;

    .contacts {
        display: flex;
        flex-direction: row;
        // background-image:url(../../assets/sprites/telephone.svg);
        li{
            list-style-image: url(../../assets/sprites/telephone.svg);
        }
    }
    nav {
        ul {
            display: flex;
            justify-content: space-evenly;
            li {
                list-style-type: none;
            }
        }
    }
}
