header {
    width: 100%;
    background: var(--primary-grey);
}
.header__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 10px var(--padding-primary);
    font-weight: 500;
    color: var(--primary-text);
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    min-height: 70px;

    .header__logo-pic {
        flex: 1;
        @media (max-width: 575px) {
            display: none;
        }
        img {
            width: 50px;
            height: 50px;
        }
    }
        .logo-container {
            img {
                // margin-bottom: 30px;
            }
        }

}

.contacts {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    gap: 45px;
    align-items: center;
    @media (max-width: 992px) {
        flex: auto;
    }
    @media (max-width: 576px) {
        gap: 20px;
    }
    .header__phones-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: 768px) {
        }
    }
    li {
        list-style-image: url(../../assets/sprites/telephone.svg);
    }

    .header-logotypes {
        display: flex;
        gap: 10px;
        
        svg {
            width: 30px;
            height: 30px;
        }
        .whatsapp {
            fill: #44c554;
        }
        img {
        }
    }
}

.logo-container {
    @media (max-width: 768px) {
        display: none;
    }
    img {
        filter: invert(61%) sepia(57%) saturate(2554%) hue-rotate(18deg) brightness(100%) contrast(103%);
        -webkit-filter: invert(61%) sepia(57%) saturate(2554%) hue-rotate(18deg) brightness(100%) contrast(103%);
    }
}

.header__working-time {
    max-height: 65px;
    @media (max-width: 576px) {
        position: absolute;
        font-size: 12px;
        top: 50px;
    }
}

@media (max-width: 1250px) {
    .header__container{
       
        .logo-container{
            display: none;
        }
    }
}
@media (max-width: 992px) {
    .header__container{
       
        .logo-container{
            display: none;
        }
    }
}