main {
    width: 100%;
    position: relative;
    background: url(../../assets/bg.jpg) center center/cover no-repeat;
    a,
    li,
    h1,
    h4,
    h3,
    h2,
    p {
        position: relative;
        z-index: 2;
    }
    h1 {
        padding-top: 25px;
        text-align: center;
    }
    ul {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: 370px;
        padding: 20px;
        margin: auto;
        font-weight: 500;
        @media (max-width: 390px) {
            font-size: 14px;
        }
    }
    li {
        align-self: start;
        color: var(--primary-text);
    }
    min-height: calc(100vh);
}
.main__blackout {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
    backdrop-filter: brightness(60%);
}
.main__service-types {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    position: relative;
    .main__service-blackout{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0000006e;
    }
    .service-item {
        width: 200px;
        font-size: 14px;
        h2 {
            text-align: center;
            margin-bottom: 10px;
        }
        p{
            text-align: center;
        }
    }
}

.main__maps{
    z-index: 2;
    position: relative;
    padding: 20px;
    margin: auto;
    max-width: var(--max-width);
}
