.services{
    padding: var(--padding-primary);
    background: rgba(0, 0, 0, 0.431372549);
    h2{
        text-align: center;
        margin-bottom: 40px;
    }
}

.services-container{
    display: flex;
    justify-content: center;
    gap: 75px;
    // background: rgba(0, 0, 0, 0.431372549);
    .restoration{
        width: 314px;
    }

    .replacement{
        width: 314px;
    }
    ul{
        li{
            font-size: 18px;
            margin-top: 10px;
        }
    }
}