.burger-menu {
    display: none;
    z-index: 15;
    overflow-y: scroll;
    padding: 10px;
    padding-top: 35px;
    @media (max-width: 768px) {
        display: block;
        position: fixed;
        top: 0;
        right: -350px;
        height: 100%;
        width: 320px;
        background-color: var(--primary-grey);
        opacity: 0.95;
        transition: 0.5s all;
    }
    @media (max-width: 350px) {
        width: 280px;
    }
    &.visible {
        @media (max-width: 768px) {
            right: -1vw;
        }
    }

    // &__logo {

    // }

    .burger-menu__logo-img {
        margin: 0 auto;
        width: 71px;
        height: 110px;
        border-radius: 50%;
    }

    .burger-menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 22px;
        text-align: center;
        &.hover {
            color: var(--primary-orange);
        }
    }

    .burger-menu__contacts {
        margin: 30px 10px;
        ul {
            display: flex;
            // color: #f0f0f0;
            color: var(--primary-orange);
            gap: 10px;
        }
    }
    .burger-menu__list-item {
        a:hover {
            color: var(--primary-orange);
        }
    }
    // .list-item--active:after {
    //     transition: 0.5s;
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 3px;
    //     background-color: var(--primary-orange);
    // }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #e1e2e1;
    }
    .burger-menu__svg {
        margin-top: 50px;
        margin-left: 90px;
        width: 130px;
        &:hover {
            fill: #00000080;
        }
    }
    ul {
        list-style-type: none;
    }
}
