
.hamburger {
    display: none;
    z-index: 50;
    @media (max-width: 768px) {
        width: 24px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // position: fixed;
        top: 13px;
        right: 13px;
        cursor: pointer;
        user-select: none;
        @media (max-width: 320px) {
          top: 6px;
      }
    }

    &__line {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 2px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    &__line:nth-child(1),
    &__line:nth-child(2) {
        margin-bottom: 5px;
    }

    &__line {
        background-color: var(--primary-orange);
    }
}



.hamburger.open-menu{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .hamburger.open-menu .hamburger__line:nth-child(2){
    width: 0px;
  }
  
  .hamburger.open-menu .hamburger__line:nth-child(1),
  .hamburger.open-menu .hamburger__line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .hamburger.open-menu .hamburger__line:nth-child(1){
    -webkit-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
  }
  
  .hamburger.open-menu .hamburger__line:nth-child(3){
    -webkit-transform: translateY(-7px) rotate(90deg);
    -ms-transform: translateY(-7px) rotate(90deg);
    -o-transform: translateY(-7px) rotate(90deg);
    transform: translateY(-7px) rotate(90deg);
  }




// .hamburger:hover {
//     filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
// }

// .hamburger.light:hover {
//     filter: invert(78%) sepia(16%) saturate(619%) hue-rotate(7deg) brightness(88%) contrast(87%);
// }
