.modal-window__wrapper {
    // display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 0;
    height: 0;
    max-width: 100%;
    z-index: 100;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    &.visible .modal-window__container {
        display: flex;
        transform: scale(1);
    }

    &.visible {
        width: 100vw;
        height: 100vh;
        display: flex;
        padding: 10%;
        background-color: rgba(0, 0, 0, 0.6);
        // position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: 0 auto;
        z-index: 5;

        .modal-window__mouse,
        .modal-window__mouse-close,
        .modal-window__right-button,
        .modal-window__left-button {
            display: flex;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    .modal-window__container {
        justify-content: space-between;
        position: absolute; // тронул
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        justify-content: center;
        align-items: center;
        border-radius: 1.2%;
        transform: translate3d(0px, 0px, 0);
        transform: scale(0);
        transition: transform 0.5s;

        &.prev--slide {
            transition: transform 0.5s;
            transform: translate3d(-100vw, 0px, 0);
        }

        &.next--slide {
            transition: transform 0.5s;
            transform: translate3d(100vw, 0px, 0);
        }

        &.current--slide {
            transition: transform 0.5s;
            transform: translate3d(0px, 0px, 0);
        }

        &.up {
            transform: translate3d(0px, 100vh, 0);
        }

        &.down {
            transform: translate3d(0px, -100vh, 0);
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            max-height: calc(100vh - 2.25rem);
            max-width: 91vw;
            object-fit: contain;
            align-self: center;
        }
    }

    .modal-window__mouse {
        display: none;
        position: absolute;
        height: 50vh;
        width: 150px;
        cursor: pointer;
        z-index: 102;
        // border: 1px solid red;
        &.area-right {
            right: 3px;
            &:hover {
                .modal-window__right-button {
                    background: var(--primary-color);
                }
            }
        }
        &.area-left {
            left: 3px;
            &:hover {
                .modal-window__left-button {
                    background: var(--primary-color);
                }
            }
        }
        .modal-window__right-button {
            transition: all 0.05;
        }
        .modal-window__left-button {
            transition: all 0.05;
        }
    }

    .modal-window__close-button {
        // display: none;
    }
    .modal-window__right-button,
    .modal-window__left-button {
        display: none;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 101;
        position: absolute;
    }
    .modal-window__right-button {
        right: 0;
        z-index: 101;
        position: absolute;
        transition: 0.2s;
        @media (max-width: 768px) {
        }
    }

    .modal-window__left-button {
        left: 0;
        z-index: 101;
        position: absolute;
        transition: 0.2s;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .modal-window__close-button {
        top: 55px;
        right: 15px;
        position: absolute;
        transition: 0.5s;
        z-index: 102;
        width: 50px;
        height: 50px;
        background: #fff;
        cursor: pointer;
        @media (max-width: 768px) {
            // top: -32px;
            // right: -32px;
            // top: 0;
        }
    }
    .modal-window__mouse-close {
        position: absolute;
        display: none;
        z-index: 102;
        width: 100vw;
        height: 150px;
        // border: 1px solid red; //! debug
        cursor: pointer;
        &.area-up {
            top: 0;
            &:hover ~ .modal-window__close-button {
                background: var(--primary-color);
            }
        }
        &.area-down {
            top: calc(100vh - 150px);
            &:hover ~ .modal-window__close-button {
                background: var(--primary-color);
            }
        }
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        border: 0;
        backdrop-filter: blur(10px);
        background-color: var(--primary-extra-light);
        .modal-window__cross,
        .modal-window__arrow-left,
        .modal-window__arrow-right {
            width: 30%;
            height: 30%;
            fill: var(--primary-extra-dark);
        }
    }
}

// ! TODO check it
// TODO
.modal-window__wrapper.visible .modal-window__container {
    align-content: center;
}
.modal-window__wrapper.visible {
    align-content: center;
}
