@use "../layout";
@use "../base";
@use "../components";
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    color: var(--primary-text);
}
h1 {
    @media (max-width: 768px) {
        font-size: 24px;
    }
}
a {
    color: var(--primary-text);
}
body {
    background: rgba($color: black, $alpha: 0.9);
    // max-width: 1920px;
    margin: auto;
}
ul {
    padding: 0;
    margin: 0;
}
html {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    scroll-behavior: smooth;
}
.test {
    position: relative;
    // background: url(../../assets/bg_new.webp) center center/cover no-repeat;
}

//. Segoe Print ttf (400) WhatFontIs.com
// sass --watch ./src/styles/main.scss:./src/styles/main.css
// sass --watch ./src/styles/pages/main.scss:./src/styles/pages/main.css
// $ sass --watch ./src/styles/ :./src/styles/pages/main.css
// $ sass --watch ./src/styles/ :./src/styles/pages/main.css
// sass --watch ./src/styles/ :./src/styles/pages/main.css --style compressed
