header {
  width: 100%;
  background: var(--primary-grey);
}

.header__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 10px var(--padding-primary);
  font-weight: 500;
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .header__container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.header__container .header__nav-container {
  display: flex;
}
.header__container .header__nav-container nav {
  align-self: center;
  flex: 3;
}
@media (max-width: 768px) {
  .header__container .header__nav-container nav {
    display: none;
  }
}
.header__container .header__nav-container nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  gap: 10px;
  font-size: 12px;
  font-weight: 600;
}
.header__container .header__nav-container nav ul li {
  list-style-type: none;
}
.header__container .header__nav-container nav ul li a {
  color: var(--primary-text);
}

.contacts {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
.contacts ul {
  display: flex;
  gap: 50px;
}
@media (max-width: 768px) {
  .contacts ul {
    flex-direction: column;
    gap: 10px;
  }
}
.contacts li {
  list-style-image: url(../../assets/sprites/telephone.svg);
}

main {
  width: 100%;
  position: relative;
  background: url(../../assets/bg.jpg) center center/cover no-repeat;
  max-width: 1920px;
  margin: auto;
}
main:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 250px;
  top: 150px;
  left: 5px;
  border-radius: 10px;
  background: var(--primary-orange);
  z-index: 2;
}
@media (max-width: 600px) {
  main:before {
    display: none;
  }
}
main a,
main li,
main h1,
main h4,
main h3,
main h2,
main p {
  position: relative;
  z-index: 2;
}
main h1 {
  padding-top: 25px;
  text-align: center;
}
main .main__service-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 500px;
  padding: 20px;
  margin: auto;
  font-weight: 500;
  font-size: 22px;
}
@media (max-width: 768px) {
  main .main__service-list {
    font-size: 14px;
    width: 300px;
  }
}
main li {
  align-self: start;
  color: var(--primary-text);
}

.main__blackout {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: brightness(30%);
}

.main__service-types {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  position: relative;
  margin: auto;
}
@media (max-width: 390px) {
  .main__service-types {
    flex-direction: column;
    width: 300px;
    align-items: center;
    gap: 25px;
  }
}
.main__service-types .main__service-blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.431372549);
}
.main__service-types .service-item {
  width: 200px;
  font-size: 14px;
}
.main__service-types .service-item h2 {
  text-align: center;
  margin-bottom: 10px;
}
.main__service-types .service-item p {
  text-align: center;
}

.main__maps {
  z-index: 2;
  position: relative;
  padding: 20px;
  margin: auto;
  max-width: var(--max-width);
}

.service {
  color: var(--primary-text);
}

footer {
  background: var(--primary-grey);
  padding: 20px;
  width: 100%;
}
footer .container {
  max-width: var(--max-width);
  display: flex;
  font-size: 14px;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}
@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
    gap: 25px;
  }
}
footer .container .item {
  width: 250px;
}
footer .container .item h3 {
  text-align: justify;
  padding: 10px;
}
footer .container .item ul {
  color: var(--primary-text);
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../../assets/fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-Light.woff") format("woff"), url("../../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../../assets/fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-MediumItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Thin.eot");
  src: local("Montserrat Thin"), local("Montserrat-Thin"), url("../../assets/fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-Thin.woff") format("woff"), url("../../assets/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-ExtraLightItalic.eot");
  src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url("../../assets/fonts/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-ExtraLightItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("../../assets/fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-BoldItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../../assets/fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff"), url("../../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-ExtraLight.eot");
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../../assets/fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-ExtraLight.woff") format("woff"), url("../../assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-ExtraBoldItalic.eot");
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url("../../assets/fonts/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("../../assets/fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-Italic.woff") format("woff"), url("../../assets/fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../../assets/fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff"), url("../../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-LightItalic.eot");
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("../../assets/fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-LightItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-BlackItalic.eot");
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url("../../assets/fonts/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-BlackItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("../../assets/fonts/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../../assets/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff"), url("../../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../../assets/fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff"), url("../../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../../assets/fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-ExtraBold.woff") format("woff"), url("../../assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../../assets/fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-Black.woff") format("woff"), url("../../assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-ThinItalic.eot");
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"), url("../../assets/fonts/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-ThinItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
:root {
  --primary-orange: #ff9000;
  --primary-grey: #343434;
  --primary-text: #f0f0f0;
  --max-width: 1440px;
  --padding-primary: 40px;
}

@media (max-width: 1024px) {
  :root {
    --padding-primary: 20px;
  }
}
@media (max-width: 768px) {
  :root {
    --padding-primary: 10px;
  }
}
.burger-menu {
  display: none;
  z-index: 15;
  overflow-y: scroll;
  padding: 10px;
  padding-top: 35px;
}
@media (max-width: 768px) {
  .burger-menu {
    display: block;
    position: fixed;
    top: 0;
    right: -350px;
    height: 100%;
    width: 320px;
    background-color: var(--primary-grey);
    opacity: 0.95;
    transition: 0.5s all;
  }
}
@media (max-width: 350px) {
  .burger-menu {
    width: 280px;
  }
}
@media (max-width: 768px) {
  .burger-menu.visible {
    right: -1vw;
  }
}
.burger-menu .burger-menu__logo-img {
  margin: 0 auto;
  width: 71px;
  height: 110px;
  border-radius: 50%;
}
.burger-menu .burger-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  text-align: center;
}
.burger-menu .burger-menu__list.hover {
  color: var(--primary-orange);
}
.burger-menu .burger-menu__contacts {
  margin: 30px 10px;
}
.burger-menu .burger-menu__contacts ul {
  display: flex;
  color: var(--primary-orange);
  gap: 10px;
}
.burger-menu .burger-menu__list-item a:hover {
  color: var(--primary-orange);
}
.burger-menu::-webkit-scrollbar {
  width: 10px;
}
.burger-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e1e2e1;
}
.burger-menu .burger-menu__svg {
  margin-top: 50px;
  margin-left: 90px;
  width: 130px;
}
.burger-menu .burger-menu__svg:hover {
  fill: rgba(0, 0, 0, 0.5019607843);
}
.burger-menu ul {
  list-style-type: none;
}

.hamburger {
  display: none;
  z-index: 50;
}
@media (max-width: 768px) {
  .hamburger {
    width: 24px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 13px;
    right: 13px;
    cursor: pointer;
    user-select: none;
  }
}
@media (max-width: 768px) and (max-width: 320px) {
  .hamburger {
    top: 6px;
  }
}
.hamburger__line {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger__line:nth-child(1), .hamburger__line:nth-child(2) {
  margin-bottom: 5px;
}
.hamburger__line {
  background-color: var(--primary-orange);
}

.hamburger.open-menu {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open-menu .hamburger__line:nth-child(2) {
  width: 0px;
}

.hamburger.open-menu .hamburger__line:nth-child(1),
.hamburger.open-menu .hamburger__line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hamburger.open-menu .hamburger__line:nth-child(1) {
  -webkit-transform: translateY(7px);
  -ms-transform: translateY(7px);
  -o-transform: translateY(7px);
  transform: translateY(7px);
}

.hamburger.open-menu .hamburger__line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(90deg);
  -ms-transform: translateY(-7px) rotate(90deg);
  -o-transform: translateY(-7px) rotate(90deg);
  transform: translateY(-7px) rotate(90deg);
}

.blackout {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 15;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.blackout.visible {
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.blackout,
.blackout.visible {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: var(--primary-text);
}

a {
  color: var(--primary-text);
}

body {
  background: rgba(0, 0, 0, 0.9);
}

ul {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
}

/*# sourceMappingURL=main.css.map */
