:root {
    --primary-extra-light: #ffffff;
    --primary-extra-dark: #000000;
    --primary-color:#455a64;
    --primary-light:#718792;
    --primary-dark: rgba(111,111,111);
    --primary-gold: #ffffff;
    --pane-padding: 5px 42px;
    --max-width:1440px;
    --padding-primary: 40px;
  }